@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');


$mainFont:'Quicksand', sans-serif;
$lightPurp:#b1b6f3;
$darkPurp: #7b83e8;

